.header {
    display: flex;
    flex-direction: column;
}
.logo {
    font-size: 36px;
    &__text-fp {
       
    }

    &__text-sp {
    }
}
.navigation {
    &__link-item {
}
}
.header-button {
}
.hero-img {
width: 100% ;
   
}
.hero-info {
    &__name {
    }

    &__bulb {
    }

    &__thesis {
    }

    &__button {
    }
}
