body._lock {
    overflow: hidden;
}
.header {
    &__container {
        max-width: 1200px;
        margin: 0px auto;
        display: flex;
        padding: 20px 30px 0;
        align-items: center;
        justify-content: space-between;
    }

    &__logo {
        font-size: 24px;
    }

    & &__logo-sp {
        color: var(--logo);
    }

    &__button {
        border: 2px var(--base-black) solid;
        border-radius: 5px;
        background-color: var(--base-white);
        padding: 10px 20px;
    }
}
.menu {
    &__body {
        display: flex;
    }
    &__icon {
        display: none;
    }

    &__list > li {
        margin: 0px 0px 0px 20px;
    }

    &__link {
        color: var(--base-black);
        font-size: 16px;
    }
    &__link:hover {
        text-decoration: underline;
    }
}
.hero {
    &__img {
        width: 100%;
    }
}
.main-info {
    &__name {
        font-weight: 600;
        font-size: 24px;
        text-align: center;
    }

    &__bulb-container {
        display: none;
    }

    &__thesis {
        font-weight: 400;
        font-size: 14px;
        line-height: 21px;
        text-align: center;
        color: var(--font-color);
        margin-top: 20px;
    }

    &__button {
        background-color: var(--base-black);
        width: 100%;
        color: var(--base-white);
        border-radius: 5px;
        height: 60px;
        margin: 35px 0 0 0;
        font-size: 24px;
    }
}
@media (min-width: 576px) {
    .hero {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-top: 70px;

        &__img-container {
            grid-column: 2/3;
            grid-row: 1/2;
        }

        &__main-info {
            grid-column: 1/2;
        }
    }
    .main-info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        &__name {
            text-align: left;
            font-size: 36px;
            line-height: 45px;
        }

        &__bulb-container {
            display: block;
        }

        &__thesis {
            text-align: left;
            font-size: 16px;
        }

        &__button {
            width: 70%;
            height: 45px;
            font-size: 18px;
        }
    }
}
@media (min-width: 767px) {
    .menu__list {
        display: flex;
        align-items: center;
    }
    .menu__list > li {
        padding: 10px 0;
    }

    .header {
        &__button-container {
            margin-left: 20px;
        }
    }
}
@media (max-width: 767px) {
    .menu__icon {
        z-index: 5;
        display: block;
        position: relative;
        width: 30px;
        height: 18px;
        cursor: pointer;
    }
    .menu__icon span,
    .menu__icon::after,
    .menu__icon::before {
        left: 0;
        position: absolute;
        height: 10%;
        width: 100%;
        transition: all 0.3s ease 0s;
        background-color: var(--base-black);
    }
    .menu__icon::after,
    .menu__icon::before {
        content: '';
    }
    .menu__icon::after {
        bottom: 0;
    }
    .menu__icon::before {
        top: 0;
    }
    .menu__icon span {
        top: 50%;
        transform: scale(1) translate(0px, -50%);
    }
    .menu__icon._active span {
        transform: scale(0) translate(0px, -50%);
    }
    .menu__icon._active::before {
        top: 50%;
        transform: rotate(-45deg) translate(0px, -50%);
    }
    .menu__icon._active::after {
        bottom: 50%;
        transform: rotate(45deg) translate(0px, 50%);
    }
    .menu__body {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transform: translate(-100%, 0px);
        background-color: var(--base-white);
        padding: 100px 30px 30px 30px;
        transition: all 0.3s ease 0s;
    }
    .menu__body._active {
        transform: translate(0px, 0px);
    }
    .menu__list li {
        margin: 0px 0px 30px 0px;
    }
    .menu__link {
        font-size: 22px;
    }
}
