.pricing {
  & .pricing-h2 {
    font-size: 24px;
    font-weight: 600;
    line-height: 80px;
    text-align: center;
    color: var(--base-black);
  }
  & .pricing-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    justify-content: center;
    justify-items: center;
    align-items: center;
    & .offering-item-1 {
        grid-column: 1/2;
        grid-row: 1/2;
    }
    & .offering-item-2 {
        grid-column: 1/2;
        grid-row: 2/3;
    }
    & .offering-item-3 {
        grid-column: 1/2;
        grid-row: 3/4;
    }
  }
  & .offering {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    & .offering__img {
        width: 100%;
        height: auto;
        object-fit: cover;
        object-position: center center;
    }
    & .offering__h3 {
        font-size: 18px;
        line-height: 28px;
        font-weight: 600;
        text-align: center;
        margin: 39px 0 17px;
        color: var(--button-bg_font-h3);
    }
    & .offering__p {
        font-size: 13px;
        line-height: 19.5px;
        font-weight: 400;
        margin-bottom: 33px;
        color: var(--font-color);
        text-align: center;
    }
    & .price {
        margin: 0 auto;
        width: 170px;
        height: 37px;
        border-radius: 5px;
        background-color: var(--price-mounth-bg);
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        & .price__number {
            font-size: 18px;
            line-height: 28px;
            font-weight: 400;
            color: var(--button-bg_font-h3);
        }
        & .price__mounth {
            margin-left: 15px;
            font-size: 14px;
            line-height: 21px;
            font-weight: 400;
            color: var(--price-mounth);
        }
    }
}
}

@media screen and (min-width: 575px) {
    .pricing {
        & .pricing-h2 {
            font-size: 30px;
        }
        & .offering {
            & .offering__img {
                max-width: 291px;
            }
            & .offering__h3 {
                font-size: 24px;
            }
            & .offering__p {
                font-size: 14px;
            }
            & .price {
                width: 205px;
                height: 45px;
                & .price__number {
                    font-size: 22px;
                }
                & .price__mounth {
                    font-size: 16px;
                }
            }
        }
    }
}

@media screen and (min-width: 767px) {
    .pricing {
        & .pricing-h2  {
            font-size: 30px;
        }
        & .pricing-grid {
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 1fr;
            column-gap: 15px;
            & .offering-item-1 {
                grid-column: 1/2;
                grid-row: 1/2;
                height: 100%;
            }
            & .offering-item-2 {
                grid-column: 2/3;
                grid-row: 1/2;
                height: 100%;
            }
            & .offering-item-3 {
                grid-column: 3/4;
                grid-row: 1/2;
                height: 100%;
            }
        }
        & .offering {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 3fr 1fr 1fr 1fr;
            & .offering__img {
                grid-column: 1/2;
                grid-row: 1/2;
            }
            & .offering__h3 {
                grid-column: 1/2;
                grid-row: 2/3;
                margin: 0;
                font-size: 20px;
            }
            & .offering__p {
                grid-column: 1/2;
                grid-row: 3/4;
                margin: 0;
                font-size: 14px;
            }
            & .price {
                grid-column: 1/2;
                grid-row: 4/5;
            }
        }
    }
}